body {
  font-family: helvetica;
}
.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  line-height: 1.8;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
ul {
  font-size: 18px;
}
a {
  color: white;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.centered {
  padding: 10px 5px;
  border: 3px black;
  text-align: center;
}
.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
